* {
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #182848;
}
::-webkit-scrollbar-thumb {
  background-color: #00f5ff;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #050816;
  color: white;
}
header {
  background-image: radial-gradient(circle at top, #182848 0%, #050816 60%);
  height: 100vh;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
nav {
  width: 90%;
  margin: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.tagline {
  color: #00f5ff;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Orbitron", sans-serif;
}
.logo {
  font-family: "Orbitron", sans-serif;
  font-size: 32px;
  color: #00f5ff;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}
nav a:hover {
  color: #00f5ff;
}
#hero {
  width: 90%;
  height: calc(100vh - 80px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  width: 50%;
}
.hero-text h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 25px;
  color: white;
}
.hero-text p {
  width: 80%;
  line-height: 30px;
  font-size: 18px;
  color: #c7c7c7;
  margin-bottom: 40px;
}
.buttons {
  display: flex;
  gap: 20px;
}
.btn1,
.btn2 {
  text-decoration: none;
  padding: 15px 35px;
  border-radius: 40px;
  font-weight: 600;
  transition: 0.4s;
}
.btn1 {
  border: 2px solid #00f5ff;
  color: white;
}
.btn1:hover {
  background: #00f5ff;
  color: black;
}
.btn2 {
  border: 2px solid #00f5ff;
  color: white;
}
.btn2:hover {
  background: #00f5ff;
  color: black;
}
.hero-image {
  width: 45%;
  display: flex;
  justify-content: center;
}
.hero-image img {
  width: 430px;
  animation: float 4s ease-in-out infinite;
  filter: drop-shadow(0 0 40px #00f5ff);
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* About */

#about {
  width: 90%;
  margin: 200px 0px 0px 100px;
}
.about-heading {
  text-align: center;
  margin-bottom: 80px;
}
.about-heading h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 45px;
  color: #00f5ff;
  margin-bottom: 20px;
}
.about-heading p {
  font-size: 20px;
  color: #bbbbbb;
  font-style: italic;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.about-image {
  display: flex;
  justify-content: center;
}
.about-image img {
  width: 430px;
  filter: drop-shadow(0 0 30px #00f5ff);
  transition: 0.4s;
  margin-bottom: 25px;
}
.about-content h3 {
  font-size: 38px;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 25px;
}
.about-content p {
  color: #c9c9c9;
  line-height: 32px;
  font-size: 17px;
  margin-bottom: 25px;
  text-align: justify;
}
.about-content h4 {
  font-size: 30px;
  color: #00f5ff;
  font-style: italic;
}
/* features */
#features {
  width: 90%;
  margin: 200px 0px 0px 100px;
}
.feature-heading {
  text-align: center;
  margin-bottom: 70px;
}
.feature-heading h2 {
  font-family: "Orbitron", sans-serif;
  color: #00f5ff;
  font-size: 45px;
  margin-bottom: 15px;
}
.feature-heading p {
  color: #bfbfbf;
  font-size: 18px;
}
.feature-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
.card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 245, 255, 0.25);
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
  transition: 0.4s;
  backdrop-filter: blur(10px);
}
.card:hover {
  transform: translateY(-12px);
  box-shadow: 0 0 30px rgba(0, 245, 255, 0.45);
  border-color: #00f5ff;
}
.card h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
.card h3 {
  font-family: "Orbitron", sans-serif;
  margin-bottom: 20px;
  color: white;
}
.card p {
  color: #c7c7c7;
  line-height: 28px;
}
/* contacts */
#contact {
  width: 90%;
  margin: 200px 0px 100px 100px;
}
.contact-heading {
  text-align: center;
  margin-bottom: 60px;
}
.contact-heading h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 45px;
  color: #00f5ff;
  margin-bottom: 15px;
}
.contact-heading p {
  color: #bdbdbd;
  font-size: 18px;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.contact-info h3 {
  font-size: 35px;
  margin-bottom: 20px;
}
.contact-info p {
  color: #c7c7c7;
  line-height: 28px;
}
.info-box {
  margin-top: 35px;
}
.contact-form {
  margin-top: 20px;
  width: 60%;
}
.info-box h4 {
  color: #00f5ff;
  margin-bottom: 10px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-form input,
.contact-form textarea {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 245, 255, 0.3);
  color: white;
  padding: 18px;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
}
.contact-form button {
  padding: 16px;
  border: none;
  background: #00f5ff;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-form button a {
  text-decoration: none;
  color: #000;
}
.contact-form button:hover {
  box-shadow: 0 0 25px #00f5ff;
  transform: translateY(-3px);
}
footer p {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
footer .iconcontainer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #00f5ff;
  background-color: #00f5ff;
  border-radius: 30%;
  padding: 10px;
}
footer .iconcontainer i {
  font-size: larger;
  color: #182848;
}
